/* style.css - File principale che importa tutti i moduli */
@import url('assets/css/reset.css');
@import url('assets/css/variables.css');
@import url('assets/css/layout.css');
@import url('assets/css/navigation.css');
@import url('assets/css/cards.css');
@import url('assets/css/simulations.css');
@import url('assets/css/articles.css');
@import url('assets/css/responsive.css');
